<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>
                <img src="https://images.pexels.com/photos/1888000/pexels-photo-1888000.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Welcome image">
            </td>
        </tr>
        <tr>
            <th>Hello <%=Name%> </th> <br>
        </tr>
        <tr>
            <td>
                <p>
                    Thank you for signing up with us.<br> <br> We really appreciate you and we congratulate you for being part of our family.
                </p>
                <p>
                    We are glad that from now on you will take advantage of the coolest opportunities of our service with us! .<br> <br> Thank you
                </p>
            </td>
        </tr>
    </table>
</body>
</html>