<div class="flex justify-center items-center h-[100vh]">
    <div class="registerUser" class="w-[30vw] flex flex-col justify-center shadow-md shadow-gray-500 m-4">
    <h2 class="text-center mb-2 text-[2rem]">Forgot Password</h2>


    <form [formGroup] = "passwordForm" (ngSubmit)="resetPassword()" class="flex flex-col my-4 mx-6">
        <div class="flex flex-col py-1">
            <label for="" class="text-[1rem]">Email</label>
            <input data-cy="email" type="email" formControlName="email" placeholder="Enter your email" class="rounded-[5px] border-solid border-[1px] border-gray-500 outline-none px-4 py-[4px] mt-[5px]">
            <div *ngIf="passwordForm.get('email')?.invalid && passwordForm.get('email')?.touched" class="text-red-500">Email is required</div>
        </div>

        <div class="flex flex-col">
            <input data-cy="resetPassword" type="submit" value="Submit" class="rounded-[2px] border-solid border-[1px] border-[#D03E3B]-100 outline-none px-4 py-[6px] mt-[1rem] hover:cursor-pointer bg-[#D03E3B]">
        </div>
        <div class="my-[4px] flex flex-row-reverse">
            <a routerLink = "/login">Remember Password</a>
        </div>
    </form>
</div>